*{
	margin: 0px;
	padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


@font-face {
	font-family: DejaVuSans;
	src: url("font/DejaVuSans.ttf");
	font-weight: bold;
}
		
@font-face {
  	font-family: DejaVuSans-ExtraLight;
	src: url("font/DejaVuSans-ExtraLight.ttf");
	font-weight: bold;
}


body{
	background-color: white;
}


#top-image{
	background:black url("img/bg-sans-requins.jpg.png")center center no-repeat;
	background-size: cover;
	width: 100vw;
	height: 130vh;
}

#escape-game-main-title{
	
	color: white;
	font-family: DejaVuSans-ExtraLight;
	font-size: 3vw;
	margin-top: 49vh;
	margin-bottom: 3vh;
	
}

#centre{
	text-align: center;
	position: relative;
}


.logo-son{
	height: 50px;
	width: 50px;
	opacity: .3;
	transition: all linear .2s;
}

.logo-son:hover{
	opacity: 1;
	cursor: pointer;
}



/*image qui bouge avec animations */


#requin1{
	animation: requin 30s infinite;
	position: absolute;
	background-blend-mode: overlay;
	display: inline-block;

	height: 120vh;
	pointer-events: none;
	
}

#requin2{
	animation: requinn 20s infinite;
	position: absolute;
	background-blend-mode: overlay;
	display: inline-block;

	height: 120vh;
	pointer-events: none;
}

#requin3{
	animation: requinnn 15s infinite;
	position: absolute;
	background-blend-mode: overlay;
	display: inline-block;

	height: 120vh;
	pointer-events: none;
}

@keyframes requin{
  0%{
    transform: translate(-25px);
  }

  50%{
  	transform: translate(50px);
  }
  100%{
  	transform: translate(-25px);
  }
}

@keyframes requinn{
  0%{
    transform: translate(25px);
  }

  50%{
  	transform: translate(-50px);
  }
  100%{
  	transform: translate(25px);
  }
}

@keyframes requinnn{
  0%{
    transform: translate(-10px);
  }

  50%{
  	transform: translate(20px);
  }
  100%{
  	transform: translate(-10px);
  }
}

a.jeu{
	height: 50px;
	width: 30px;
	background-color: #5C848E;
	text-decoration: none;
	font-family: DejaVuSans;
	font-size: 30px;
	color: white;
	padding: 10px;
	border-radius: 10px;
}
